
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
	<a class="navbar-brand" href="/">WildShop</a>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for c in categoryRepository.findAll() %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('product_category', {'slug': c.slug}) }}">{{ c.name }}</a>
				</li>
			{% endfor %}
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
	  	<button type="button" class="btn btn-link px-3 me-2">
			<a href="{{ path('cart_show') }}" class="nav-link">
				<i class="fas fa-shopping-cart"></i>
				Panier ({{ cartService.total | amount }})
			</a>
        </button>
        <button type="button" class="btn btn-link px-3 me-2">
          <a href="#" class="nav-lin">Inscription</a>
        </button>
        <button type="button" class="btn  me-3">
          	<a href="{{ path('security_login') }}" class="btn btn-success me-3">
					Login
			</a>
        </button>

      </div>
    </div>
  </div>

</nav>

